<nav class="navbar navbar-expand-sm navbar-light bg-info ">

    <a class="navbar-brand" href="{% url 'home' %}">Remote Printer</a>

    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"> <i class="fas fa-home"></i> Home</a>
            </li>
            {% if user.is_authenticated %}

            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'users:profile' %}"> <i class="fas fa-user-circle"></i> profile</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
              </li>
          {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'users:login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'users:register' %}"><i class="fas fa-user-alt"></i> Register</a>
              </li>
          {% endif %}
        </ul>
    </div>
</nav>
