{% load static i18n %}
<footer class="footer-distributed">

    <div class="footer-left">
    <!-- favicon -->
        <img src="{% static 'images/remote-printer.png' %}">
        <h3>Remote<span> Printer</span></h3>

        <p class="footer-company-name">&copy; <script>document.write(new Date().getFullYear());</script> All rights reserved</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-phone"></i>
            <p>Devansh Ahuja |+91 8805575523</p><br>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:ad.remoteprinter@gmail.com">ad.remoteprinter@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About Remote Printer</span>
            The startup aims to present students with effortless printing, print from anywhere, anything.</p>
        <div class="footer-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>
