{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}
   Print Requests
{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'printer/css/page-level/staff_print_request_list.css' %}">
{% endblock css %}

{% block bodycontent %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <div class="container-fluid">
    <div id="fetched-data">
      {% include "printer/staff_print_request_list_table.html" %}
    </div>
  </div>
{% endblock bodycontent %}

{% block javascript %}
  <script src="{% static 'printer/js/page-level/ajax_print_request_list.js' %}"></script>
{% endblock javascript %}
