{% load static %}
{% load humanize %}
<div class="card rounded-lg">
  <div class="card-header">
    <h2>Print Details</h2>
    <div class="project-tab row mx-auto">
      <a data-url="{% url 'printer:user_print_request_list_table' 'requested' %}" class="change-status tab col-md-2 text-center {% if status == 'requested' %}active{% endif %}">Pending</a>
      <a data-url="{% url 'printer:user_print_request_list_table' 'printed' %}" class="change-status tab col-md-2 text-center {% if status == 'printed' %}active{% endif %}">Printed</a>
      <a data-url="{% url 'printer:user_print_request_list_table' 'rejected' %}" class="change-status tab col-md-2 text-center {% if status == 'rejected' %}active{% endif %}">Rejected</a>
      <a data-url="{% url 'printer:user_print_request_list_table' 'cancelled' %}" class="change-status tab col-md-2 text-center {% if status == 'cancelled' %}active{% endif %}">Cancelled</a>
      <a data-url="{% url 'printer:user_print_request_list_table' 'paid' %}" class="change-status tab col-md-2 text-center {% if status == 'paid' %}active{% endif %}">Paid</a>
    </div>
  </div>

  <div class="card-body border-lg">
    <div class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
      <table class="table table-striped border table-hover mt-1" >
        <thead class="">
          <tr>
            <th>Srno.</th>
            {% if status == 'requested' %}
              <th>Date of Request</th>
            {% elif status == 'printed' %}
              <th>Date of Print</th>
            {% elif status == 'cancelled' %}
              <th>Date of Cancel</th>
            {% elif status == 'rejected' %}
              <th>Date of Reject</th>
            {% elif status == 'paid' %}
              <th>Date of Payment</th>
            {% endif %}
            <th>Amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for print in prints %}
            <tr>
              <td scope="row">{{forloop.counter}}</td>
              {% if status == 'requested' %}
                <td>{{ print.created_at|naturalday }}</td>
              {% elif status == 'printed' %}
                <td>{{ print.printed_on|default:"Not Yet"|naturalday }}</td>
              {% elif status == 'cancelled' %}
                <td>{{ print.cancelled_on|default:"Not Yet"|naturalday }}</td>
              {% elif status == 'rejected' %}
                <td>{{ print.rejected_on|default:"Not Yet"|naturalday }}</td>
              {% elif status == 'paid' %}
                <td>{{ print.paid_on|default:"Not Yet"|naturalday }}</td>
              {% endif %}
              <td>{{ print.amount|default:"Not Yet" }}</td>
              <td>
                <a href="{% url 'printer:user_print_request_detail' print.pk %}" class="btn btn-primary mx-1 mb-1">View</a>
                {% if print.status == 1 %}
                  <a href="{% url 'printer:print_request_cancel' print.pk %}" class="btn btn-warning mx-1 mb-1" >Cancel</a>
                {% endif %}
                {% if print.status == 4 or print.status == 3 %}
                  <a href="{% url 'printer:print_request_reapply' print.pk %}" class="btn btn-info mx-1 mb-1" >Re apply</a>
                {% endif %}
                {% if print.status == 3 or print.status == 4 or print.status == 5 %}
                  <a href="{% url 'printer:print_request_delete' print.pk %}" class="btn btn-danger mx-1 mb-1" >Delete</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="{% static 'printer/js/page-level/ajax_print_request_list.js' %}"></script>
