{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}
   Prints:{{user.email}}
{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'printer/css/page-level/user_print_request_list.css' %}">
{% endblock css %}

{% block bodycontent %}
  <div class="container-fluid">
    <div id="fetched-data">
      {% include "printer/user_print_request_list_table.html" %}
    </div>
  </div>
{% endblock bodycontent %}

{% block javascript %}
  <script src="{% static 'printer/js/page-level/user_print_request_list.js' %}"></script>
{% endblock javascript %}
