{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}
  Remote Printer
{% endblock title %}

{% block css %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock css %}

{% block bodycontent %}
  <!-- Page Content -->
  <section class="py-5 text-center">
    <div class="container">
      <h2>Dashoard</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="card-counter primary">
            <i class="fas fa-print"></i>
            <span class="count-numbers">{{ printed }}</span>
            <span class="count-name">Printed</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card-counter danger">
            <i class="far fa-clock"></i>
            <span class="count-numbers">{{ pending }}</span>
            <span class="count-name">Pending</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card-counter success">
            <i class="fas fa-rupee-sign"></i>
            <span class="count-numbers">{{ paid|default:0 }}</span>
            <span class="count-name">Paid</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card-counter info">
            <i class="fas fa-coins"></i>
            <span class="count-numbers">{{ unpaid|default:0 }}</span>
            <span class="count-name">Unpaid</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <!-- Header -->
    <header class="bg-primary text-center py-5 mb-4">
      <div class="container">
        <h1 class="font-weight-light text-white">Meet the Developer</h1>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-md-6 mx-auto">
          <div class="card border-0 shadow">
            <img src="{% static 'images/nopic.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Devansh Ahuja</h5>
              <div class="card-text text-black-50">Web Developer</div>
            </div>
          </div>
        </div>
    </div>
  </section>
{% endblock bodycontent %}
