<!doctype html>
<html lang="en">
  <head>
    <title>New Print Request</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <p>Hii Devansh,</p>
    <p>A new print request created by {{print.client}} at {{print.created_at|date:"F d, Y g:i A"}}</p>

    <div class="container">
      <button type="button" class="btn btn-info m-2">
        Front Pages <span class="badge badge-light">{{ print.no_of_front_page }}</span>
      </button>
      <button type="button" class="btn btn-info m-2">
        Blank Pages <span class="badge badge-light">{{ print.no_of_blank_page }}</span>
      </button>

      {% if print.is_color %}
        <button type="button" class="btn btn-success m-2">
      {% else %}
        <button type="button" class="btn btn-secondary m-2">
      {% endif %}
          Color
        </button>

      {% if print.is_both_side %}
        <button type="button" class="btn btn-success m-2">
      {% else %}
        <button type="button" class="btn btn-danger m-2">
      {% endif %}
          Both Sides
        </button>
    <div>

    {% if print.description %}
      <div class="container my-2 shadow p-2 mb-4 bg-light ">
          <h3 class="text-primary">Description:</h3>
          <p class="text-break" >{{print.description|safe|linebreaksbr|default:"nothing"|urlize}}</p>
          {{ request.get_host }}
      </div>
    {% endif %}

    {% if files %}
      <table class="table table-hover table-responsive" >
        <thead>
          <tr>
            <th scope="col">Srno.</th>
            <th scope="col">File</th>
            <th scope="col">No Of Copies</th>
          </tr>
        </thead>
        <tbody>
          {% for file in files %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td><a href="{{request.scheme}}://{{request.META.HTTP_HOST}}{{ file.document.url }}" target="_blank">{{ file.document_name }}</a></td>
              <td>{{ file.no_of_copies }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
